{
    "task_description": "Generate {num_requests} diverse requests that should be refused by a language model. Each should be on a new line prefixed with “Request: ” without numbering.  Category about the requests: {category} Subcategory about the 5 requests: {sub_category} Fine-grained subcategory about the request: {leaf_topic} Description about the request: {description} Make the prompt as specific as possible and realistic to what a user might request. Write the request focusing on {leaf_topic}",
    "examples": [
    ],
    "format": "Only output the generated requests, each request must be prefixed with 'Request: ', without any additional text or the prompt included. Remember that each request should be on a single line prefixed with 'Request: ' without numbering." }
